:root {
  --color-background: #ffffff;
  --color-text-primary: #1e1e1e;
  --color-text-secondary: #3f3f3f;
  --color-border: #dcdcdc;

  --color-men-background: #d6e6ff;
  --color-men-accent: #002772;

  --color-women-background: #fde2ff;
  --color-women-accent: #720060;
}
